#you-win,
#you-lose,
#tryagain {
    width: 300px;
    height: 300px;
    display: none;
}

body {
    background-image: url(../images/hock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: white;
    text-align: center;
   
}

#stick {
    float: left;
    height: 200px;
    width: 200px;
    padding-bottom: 60px;
    padding-left: 50px;
}

#stickr {
    float: right;
    height: 200px;
    width: 200px;
    padding-bottom: 60px;
    padding-right: 50px;
}


.display-4 {
    font-family: 'Black Ops One', cursive;

}

.gameplay-column{
    color: rgb(253, 253, 253);
}